.left_content
  .partner_box
    .title Find the perfect partner
    .left_banner_content
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %a.read_more{href: "http://all-free-download.com/free-website-templates/"} read more
  .blue_title Our Services
  %ul.list
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
  %ul.list
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
    %li
      %a{href: "http://all-free-download.com/free-website-templates/"} Lorem ipsum dolor sit amet
  .blue_title About Us
  %img.photo{alt: "", src: "images/pic1.gif"}/
  %p.left Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ,sed do eiusmod tempor incididunt. sed do eiusmod tempor incididunt
.right_content
  .blue_title Latest members
  .member_tab
    %img.photo{alt: "", src: "images/m1.gif"}/
    .member_details
      %span Tanya
      %br/
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %a.more{href: "http://all-free-download.com/free-website-templates/"} more
  .member_tab
    %img.photo{alt: "", src: "images/m3.gif"}/
    .member_details
      %span Carl
      %br/
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %a.more{href: "http://all-free-download.com/free-website-templates/"} more
  .member_tab
    %img.photo{alt: "", src: "images/m2.gif"}/
    .member_details
      %span Alexa
      %br/
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %a.more{href: "http://all-free-download.com/free-website-templates/"} more
  %a.view_all{href: "http://all-free-download.com/free-website-templates/"} view all
.clear